/*************************
Colors
*************************/
@colorLightGreen: #6ab47b;
@colorDarkGreen: #599a68;
@colorFont: #222;
@colorTitle: #fff;


/*************************
Mixins
*************************/
.bottomBorder() {
  border-bottom: 20px solid @colorDarkGreen;
}

.topBorder() {
  border-top: 20px solid @colorDarkGreen;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.clearfix {
  display: block;
  zoom: 1;

  &:after {
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}
/*************************
Base Styles
*************************/
html {
  color: @colorFont;
  font-size: 1em;
  line-height: 1.4;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: Helvetica, Helvetica Neue, Arial;
  font-size: 16px;
  line-height: 26px;
}

header {
  .wrapper;
  .clearfix;
}

.header-container {
  .bottomBorder();
  background-color: @colorLightGreen;
}

.title {
  color: @colorTitle;
}

nav {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: @colorTitle;
    background: @colorLightGreen;
    &:hover {
      text-decoration: underline;
    }
    &:visited {
      color: @colorTitle;
    }
  }
}

.main-container {
  .wrapper;
}

.main {
  .wrapper;
  .clearfix;
  padding: 30px 0;
  article {
    h1 {
      font-size: 2em;
    }
    aside {
      border-top: 20px solid #599a68;
      background: #6ab47b;
      color: @colorTitle;
      padding: 0px 5% 10px;
    }
  }
}

footer {
  .wrapper;
}


@media only screen and (min-width: 480px) {

  nav {
    a {
      float: left;
      width: 30%;
      margin: 0 0 0 5%;
      padding: 25px 1%;
      margin-bottom: 0;
    }

    li:first-child a {
      margin-left: 0;
    }

    li:last-child a {
      margin-right: 0;
    }
  }
  article {
    img {
      margin: 10px;
      width: 300px;
    }
  }
}

@media only screen and (min-width: 768px) {

  .title {
    float: left;
    font-size: 1.4em;
  }

  nav {
    float: right;
    width: 60%;

    a {
      padding: 25px 1%;
    }
  }


}
